.paso-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11vh;
    background-color: #31363F;
    box-shadow: 0 0 15px 0;
}
.paso-logo {
    width: 120px;
    height: 70px;
    object-fit: cover;
}
.dark-logo {
    filter: brightness(0%);
    margin: 20px 0px 0px 20px;
}
.login-body {
    display: flex;
    position: absolute;
    width: 100%;
    height: 89vh;
}
.login-section {
    background-color: #D9D9D9;
    width: 50vw;
    height: 100%;
}
.login-text {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 00px 120px;
}
.login-text h1 {
    font-size: 30px;
}
.login-text p {
    color: #B4B4B4;
}
.login-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 120px 30px 120px;
}
.input-div {
    width: 100%;
    font-weight: bold;
}
.input-div p {
    padding-bottom: 5px;
}
.input-div input {
    background-color: #EEEBEB;
    border: 1px solid #B4B4B4;
    height: 25px;
    box-shadow: none;
    border-radius: 5px;
    width: 100%;
}
.sign-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 150px 30px 150px;
    gap: 5px;
}
#signin {
    border: none;
    height: 40px;
    background-color: #31363F;
    color: #FFFFFF;
    font-size: 15px;
    border-radius: 5px;
}
#signin:hover {
    background-color: #393f49;
}
.sign-div p {
    text-align: center;
    font-size: 16px;
}
#signup {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
.info-section {
    background-color: #393939;
    width: 50vw;
    height: 100%;
}